.Conference {
    position: relative;
    display: flex;
    flex-grow: 1;
    aspect-ratio: 16/9;
  }
  
  .presentation-video {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 25%;
    border-radius: 12px;
    cursor: pointer;
    z-index: 10;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .presentation-video:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  